.jumbotron {
    margin-top: 0px;
    text-align: center;
    background-color: rgb(4, 88, 77);
    color: black;
}

.footer {  
    padding: 10px 10px 10px;
    background-color: rgb(4, 88, 77);
    margin-top: 0px;
    margin-top: 10px;
}

.card-hotel {  
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    background-color: aqua;
    color: brown;
    border-radius: 0px;
}

.container-footer {
    text-align: center;
    color: black;
}

.isla {
    width: 100%;
    height: 500px;
}

.tab-content{
    padding-top: 10px;
}

.carousel{
    padding: 10px;
}