.jumbotron {
  text-align: center;
  background-color: #6b5824;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  padding: 10px 10px 0 10px;
  background-color: #6b5824;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  background-color: aqua;
  color: brown;
  border-radius: 0px; }

.container-footer {
  text-align: center;
  color: black; }

.isla {
  width: 100%;
  height: 500px; }

.tab-content {
  padding-top: 10px; }

.carousel {
  padding: 10px; }
