$yellow: #6b5824;

@mixin margenes($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    text-align: center;
    background-color: $yellow;
    color: black;
    @include margenes(50px,10px );
}

.footer {  
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px,0px );
}

.card-hotel {  
    flex: 1 200px;
    @include margenes(10px,0px );

}

.btn-reserva {
    width: 100%;
    background-color: aqua;
    color: brown;
    border-radius: 0px;
}

.container-footer {
    text-align: center;
    color: black;
}

.isla {
    width: 100%;
    height: 500px;
}

.tab-content{
    padding-top: 10px;
}

.carousel{
    padding: 10px;
}