@yellow: #efeeb8;

.margenes(@top: 0px,@bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    text-align: center;
    background-color: @yellow;
    color: black;
    .margenes(50px, 5px);
}
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px,0px)
}
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px)
}
  
  .btn-reserva {
    width: 100%;
    background-color: aqua;
    color: brown;
    border-radius: 0px; }
  
  .container-footer {
    text-align: center;
    color: black; }
  
  .isla {
    width: 100%;
    height: 500px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .carousel {
    padding: 10px; }
  